* {
	font-family: "CircularStd" !important;
}
body {
	background-color: white !important;
	padding: 0 !important;
	margin: 0 !important;
}
.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	height: 50%;
}

.outer,
.middle,
.inner {
	border: 3px solid transparent;
	border-top-color: #fbff1d;
	border-right-color: #fbff00;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
}

.outer {
	width: 3.5em;
	height: 3.5em;
	margin-left: -1.75em;
	margin-top: -1.75em;
	animation: spin 2s linear infinite;
}

.middle {
	width: 2.1em;
	height: 2.1em;
	margin-left: -1.05em;
	margin-top: -1.05em;
	animation: spin 1.75s linear reverse infinite;
}

.inner {
	width: 0.8em;
	height: 0.8em;
	margin-left: -0.4em;
	margin-top: -0.4em;
	animation: spin 1.5s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.registrationHelper {
	background-image: url("https://images.unsplash.com/photo-1505253716362-afaea1d3d1af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
	border-color: black !important;
	border-radius: 5px !important;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
	border-radius: 5px !important;
}

.MuiFormLabel-root.Mui-focused {
	color: black !important;
	border-radius: 5px !important;
}

.MuiFormLabel-root {
	border-radius: 5px !important;
}

.boxes {
	--size: 32px;
	--duration: 800ms;
	height: calc(var(--size) * 2);
	width: calc(var(--size) * 3);
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	margin-top: calc(var(--size) * 1.5 * -1);
	-webkit-transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
	transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}
.boxes .box {
	width: var(--size);
	height: var(--size);
	top: 0;
	left: 0;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.boxes .box:nth-child(1) {
	-webkit-transform: translate(100%, 0);
	transform: translate(100%, 0);
	-webkit-animation: box1 var(--duration) linear infinite;
	animation: box1 var(--duration) linear infinite;
}
.boxes .box:nth-child(2) {
	-webkit-transform: translate(0, 100%);
	transform: translate(0, 100%);
	-webkit-animation: box2 var(--duration) linear infinite;
	animation: box2 var(--duration) linear infinite;
}
.boxes .box:nth-child(3) {
	-webkit-transform: translate(100%, 100%);
	transform: translate(100%, 100%);
	-webkit-animation: box3 var(--duration) linear infinite;
	animation: box3 var(--duration) linear infinite;
}
.boxes .box:nth-child(4) {
	-webkit-transform: translate(200%, 0);
	transform: translate(200%, 0);
	-webkit-animation: box4 var(--duration) linear infinite;
	animation: box4 var(--duration) linear infinite;
}
.boxes .box > div {
	--background: #ffee58;
	--top: auto;
	--right: auto;
	--bottom: auto;
	--left: auto;
	--translateZ: calc(var(--size) / 2);
	--rotateY: 0deg;
	--rotateX: 0deg;
	position: absolute;
	width: 100%;
	height: 100%;
	background: var(--background);
	top: var(--top);
	right: var(--right);
	bottom: var(--bottom);
	left: var(--left);
	-webkit-transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
	transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
}
.boxes .box > div:nth-child(1) {
	--top: 0;
	--left: 0;
}
.boxes .box > div:nth-child(2) {
	--background: #ffeb3b;
	--right: 0;
	--rotateY: 90deg;
}
.boxes .box > div:nth-child(3) {
	--background: #fdd835;
	--rotateX: -90deg;
}
.boxes .box > div:nth-child(4) {
	--background: #dbe3f44f;
	--top: 0;
	--left: 0;
	--translateZ: calc(var(--size) * 3 * -1);
}

@-webkit-keyframes box1 {
	0%,
	50% {
		-webkit-transform: translate(100%, 0);
		transform: translate(100%, 0);
	}
	100% {
		-webkit-transform: translate(200%, 0);
		transform: translate(200%, 0);
	}
}

@keyframes box1 {
	0%,
	50% {
		-webkit-transform: translate(100%, 0);
		transform: translate(100%, 0);
	}
	100% {
		-webkit-transform: translate(200%, 0);
		transform: translate(200%, 0);
	}
}
@-webkit-keyframes box2 {
	0% {
		-webkit-transform: translate(0, 100%);
		transform: translate(0, 100%);
	}
	50% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		-webkit-transform: translate(100%, 0);
		transform: translate(100%, 0);
	}
}
@keyframes box2 {
	0% {
		-webkit-transform: translate(0, 100%);
		transform: translate(0, 100%);
	}
	50% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		-webkit-transform: translate(100%, 0);
		transform: translate(100%, 0);
	}
}
@-webkit-keyframes box3 {
	0%,
	50% {
		-webkit-transform: translate(100%, 100%);
		transform: translate(100%, 100%);
	}
	100% {
		-webkit-transform: translate(0, 100%);
		transform: translate(0, 100%);
	}
}
@keyframes box3 {
	0%,
	50% {
		-webkit-transform: translate(100%, 100%);
		transform: translate(100%, 100%);
	}
	100% {
		-webkit-transform: translate(0, 100%);
		transform: translate(0, 100%);
	}
}
@-webkit-keyframes box4 {
	0% {
		-webkit-transform: translate(200%, 0);
		transform: translate(200%, 0);
	}
	50% {
		-webkit-transform: translate(200%, 100%);
		transform: translate(200%, 100%);
	}
	100% {
		-webkit-transform: translate(100%, 100%);
		transform: translate(100%, 100%);
	}
}
@keyframes box4 {
	0% {
		-webkit-transform: translate(200%, 0);
		transform: translate(200%, 0);
	}
	50% {
		-webkit-transform: translate(200%, 100%);
		transform: translate(200%, 100%);
	}
	100% {
		-webkit-transform: translate(100%, 100%);
		transform: translate(100%, 100%);
	}
}
html {
	-webkit-font-smoothing: antialiased;
}

.containerBox {
	box-sizing: border-box;
}
.containerBox:before,
.containerBox:after {
	box-sizing: border-box;
}

.containerBox {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hoverCard {
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.hoverCard:hover {
	transform: translateY(-5px);
}

.HoverText {
	position: relative;
}

.HoverText::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -3px;
	width: 60%;
	height: 1px;
	opacity: 0;
	background-color: #46b04a;
	transform: translate(-50%, 0);
	transition: all 0.3s ease-in-out;
}

.HoverText:hover::after {
	width: 100%;
	opacity: 1;
}

.MuiExpansionPanel-root:before {
	background-color: rgba(0, 0, 0, 0.05) !important;
}

.MuiPaper-elevation1 {
	box-shadow: 0 2px 2.3px rgba(0, 0, 0, 0.011), 0 3.4px 5.6px rgba(0, 0, 0, 0.016), 0 5.1px 10.7px rgba(0, 0, 0, 0.02),
		0 8.5px 19.1px rgba(0, 0, 0, 0.024), 0 18.7px 35.4px rgba(0, 0, 0, 0.029), 0 100px 80px rgba(0, 0, 0, 0.04) !important;
	border: none !important;
}

.ticket {
	display: grid;
	grid-template-rows: auto 1fr auto;
}
.ticket__header,
.ticket__body,
.ticket__footer {
	padding: 1.25rem;
	background-color: white;
	border: 1px solid #d8d8d867;
	box-shadow: 0 2.3px 2.2px rgba(0, 0, 0, 0.008), 0 4.7px 5.3px rgba(0, 0, 0, 0.012), 0 8px 10px rgba(0, 0, 0, 0.015),
		0 13.6px 17.9px rgba(0, 0, 0, 0.018), 0 25.9px 33.4px rgba(0, 0, 0, 0.022), 0 100px 80px rgba(0, 0, 0, 0.03);
}
.ticket__header {
	font-size: 1.5rem;
	border-top: 0.25rem solid #46b04a;
	border-bottom-left-radius: 0.375em;
	border-bottom-right-radius: 0.375em;
	border-bottom: none;
	box-shadow: none;
}
.ticket__wrapper {
	border-radius: 0.375em 0.375em 0 0;
	overflow: hidden;
}
.ticket__divider {
	position: relative;
	height: 1rem;
	background-color: white;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.ticket__divider::after {
	content: '';
	position: absolute;
	height: 50%;
	width: 100%;
	top: 0;
	border-bottom: 2px dashed #e9ebed;
}
.ticket__notch {
	position: absolute;
	left: -0.5rem;
	width: 2rem;
	height: 2rem;
	z-index: 0;
	overflow: hidden;
}
.ticket__notch::after {
	content: '';
	position: relative;
	display: block;
	width: 2rem;
	height: 2rem;
	right: 100%;
	top: -50%;
	border: 0.5rem solid white;
	border-radius: 50%;
	box-shadow: inset 0 2px 4px rgba(41, 54, 61, 0.25);
}
.ticket__notch--right {
	left: auto;
	right: -0.5rem;
}
.ticket__notch--right::after {
	right: 0;
}
.ticket__body {
	border-bottom: none;
	border-top: none;
	z-index: 1;
	border-top-left-radius: 0.375em;
	border-top-right-radius: 0.375em;
}
.ticket__body > * + * {
	margin-top: 1.5rem;
	padding-top: 1.5rem;
	border-top: 1px solid #e9ebed;
	z-index: 1;
}
.ticket__section > * + * {
	margin-top: 0.25rem;
}
.ticket__section > h3 {
	font-size: 1.125rem;
	margin-bottom: 0.5rem;
}

.ticket__footer {
	font-weight: bold;
	font-size: 1.25rem;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	z-index: 1;
}
.ticket__footer {
	border-top: 2px dashed #e9ebed;
	border-radius: 0 0 0.325rem 0.325rem;
	z-index: 1;
}

.pin {
	width: 30px;
	height: 30px;
	border-radius: 50% 50% 50% 0;
	background: rgb(70, 176, 74);
	position: absolute;
	transform: rotate(-45deg);
	left: 50%;
	top: 50%;
	margin: -20px 0 0 -20px;
}
.pin:after {
	content: "";
	width: 14px;
	height: 14px;
	margin: 8px 0 0 8px;
	background: #e6e6e6;
	position: absolute;
	border-radius: 50%;
}

.bounce {
	animation-name: bounce;
	animation-fill-mode: both;
	animation-duration: 1s;
}

.pulse {
	background: #d6d4d4;
	border-radius: 50%;
	height: 14px;
	width: 14px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 11px 0px 0px -12px;
	transform: rotateX(55deg);
	z-index: -2;
}
.pulse:after {
	content: "";
	border-radius: 50%;
	height: 40px;
	width: 40px;
	position: absolute;
	margin: -13px 0 0 -13px;
	animation: pulsate 1s ease-out;
	animation-iteration-count: infinite;
	opacity: 0;
	box-shadow: 0 0 1px 2px rgb(70, 176, 74);
	animation-delay: 1.1s;
}

@keyframes pulsate {
	0% {
		transform: scale(0.1, 0.1);
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: scale(1.2, 1.2);
		opacity: 0;
	}
}

@keyframes bounce {
	0% {
		opacity: 0;
		transform: translateY(-2000px) rotate(-45deg);
	}

	60% {
		opacity: 1;
		transform: translateY(30px) rotate(-45deg);
	}

	80% {
		transform: translateY(-10px) rotate(-45deg);
	}

	100% {
		transform: translateY(0) rotate(-45deg);
	}
}

.successCard {
	padding: 25px;
	background-color: white;
	box-shadow: 0 0px 2.7px rgba(0, 0, 0, 0.012), 0 0px 6.9px rgba(0, 0, 0, 0.018), 0 0px 14.2px rgba(0, 0, 0, 0.022),
		0 0px 29.2px rgba(0, 0, 0, 0.028), 0 0px 80px rgba(0, 0, 0, 0.04);
	margin-top: 25px;
	margin-bottom: 25px;
	border-radius: 15px;
	border: solid 2px #dfdfdf4d;
	width: 75%;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

.successCard:hover {
	border: solid 2px rgb(70, 176, 74);
	background-color: #edf4f1;
	transform: translateY(-5px);
}

.successCard:hover .uil.uil-chat-bubble-user {
	color: rgb(70, 176, 74) !important;
}
.successCard:hover .uil.uil-arrow-right {
	color: rgb(70, 176, 74) !important;
}
.successCard:hover .uil.uil-users-alt {
	color: rgb(70, 176, 74) !important;
}

.dangerCard {
	padding: 25px;
	background-color: white;
	box-shadow: 0 0px 2.7px rgba(0, 0, 0, 0.012), 0 0px 6.9px rgba(0, 0, 0, 0.018), 0 0px 14.2px rgba(0, 0, 0, 0.022),
		0 0px 29.2px rgba(0, 0, 0, 0.028), 0 0px 80px rgba(0, 0, 0, 0.04);
	margin-top: 25px;
	margin-bottom: 25px;
	border-radius: 15px;
	border: solid 2px #dfdfdf4d;
	width: 75%;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

.dangerCard:hover {
	border: solid 2px #b01818;
	background-color: #fff0f0;
	transform: translateY(-5px);
}

.dangerCard:hover .uil.uil-chat-bubble-user {
	color: #b01818 !important;
}
.dangerCard:hover .uil.uil-arrow-right {
	color: #b01818 !important;
}
.dangerCard:hover .uil.uil-users-alt {
	color: #b01818 !important;
}

.wrapper-progressBar {
	width: 100%;
}

.progressBar li {
	list-style-type: none;
	float: left;
	width: 33%;
	position: relative;
	text-align: center;
}

.progressBar li:before {
	content: " ";
	line-height: 30px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	border: 1px solid #ddd;
	display: block;
	text-align: center;
	margin: 0 auto 10px;
	background-color: white;
}

.progressBar li:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #ddd;
	top: 15px;
	left: -50%;
	z-index: -1;
}

.progressBar li:first-child:after {
	content: none;
}

.progressBar li.active {
	color: dodgerblue;
}

.progressBar li.active:before {
	border-color: dodgerblue;
	background-color: dodgerblue;
}

.progressBar li.active:after {
	background-color: dodgerblue;
}

.backgroundRegister {
	background-color: #244224 !important;
	background-image: url("https://source.unsplash.com/400x1000?vegetables");
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
	background-size: cover;
	background-position: center center;
}

.CardsDevMap {
	height: 180px;
	width: 300px;
	margin-left: 15px;
	background-repeat: no-repeat;
	background-size: cover;
	max-Width: 350;
	cursor: pointer;
	border-radius: 10px;
	transition: all .3s ease-in-out;
	box-shadow: rgba(0, 0, 0, 0.096) 0px 9px 18px 3px;
}

.imagesMap {
	border-radius: 15px;
	position: absolute;
	transition: all .3s ease-in-out;
	top: -30px;
	height: 120px;
	width: 120px;
	object-fit: cover;
}
.imagesMap:hover {
	transform: scale(1.05);
}

.card {
	position: relative;
	color: white;
	justify-self: center;
	transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
	cursor: pointer;
}
.card .MuiTypography-root {
	padding: 15px;
}

.card:hover {
	transform: scale(1.04);
}

.curve {
	background: url("https://svgur.com/i/KAm.svg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 850px;
	max-width: 3000px;
	z-index: -1;
	position: absolute;
	left: -900px;
	margin-top: -780px;
	right: 0;
	overflow: hidden;
}
.curve2 {
	background: url("https://svgur.com/i/KAm.svg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 815px;
	max-width: 3500px;
	z-index: 0;
	position: absolute;
	left: -900px;
	margin-top: -750px;
	right: 0;
	overflow: hidden;
}

.MuiPaper-elevation2 {
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.008), 0 6.7px 5.3px rgba(0, 0, 0, 0.012),
		0 12.5px 10px rgba(0, 0, 0, 0.015), 0 22.3px 17.9px rgba(0, 0, 0, 0.018), 0 41.8px 33.4px rgba(0, 0, 0, 0.022),
		0 100px 80px rgba(0, 0, 0, 0.03) !important;
}

.HoverTextColor:hover {
	color: rgb(70, 176, 74) !important;
}

.chart-area {
	height: 190px;
	width: calc(100% + 30px);
	margin-left: -15px;
	margin-right: -15px;
}
