body {
	background-color: white !important;
	padding: 0 !important;
	margin: 0 !important;
}
.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	height: 50%;
}

.outer,
.middle,
.inner {
	border: 3px solid transparent;
	border-top-color: #fbff1d;
	border-right-color: #fbff00;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
}

.outer {
	width: 3.5em;
	height: 3.5em;
	margin-left: -1.75em;
	margin-top: -1.75em;
	animation: spin 2s linear infinite;
}

.middle {
	width: 2.1em;
	height: 2.1em;
	margin-left: -1.05em;
	margin-top: -1.05em;
	animation: spin 1.75s linear reverse infinite;
}

.inner {
	width: 0.8em;
	height: 0.8em;
	margin-left: -0.4em;
	margin-top: -0.4em;
	animation: spin 1.5s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.registrationHelper {
	background-image: url("https://images.unsplash.com/photo-1505253716362-afaea1d3d1af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
	border-color: black !important;
	border-radius: 0px !important;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
	border-radius: 0px !important;
}

.MuiFormLabel-root.Mui-focused {
	color: black !important;
	border-radius: 0px !important;
}

.MuiFormLabel-root {
	border-radius: 0px !important;
}

.hoverCard {
	transition: all 0.3s ease;
	cursor: pointer;
}

.hoverCard:hover {
	transform: translateY(-5px);
}

.CardsDevMap {
	height: 200px;
	width: 200px;
	margin-left: 15px;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-size: cover;
	max-Width: 350;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.HoverText {
	position: relative;
}

.HoverText::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -3px;
	width: 60%;
	height: 1px;
	opacity: 0;
	background-color: #46b04a;
	transform: translate(-50%, 0);
	transition: all 0.3s ease-in-out;
}

.HoverText:hover::after {
	width: 100%;
	opacity: 1;
}

.MuiPaper-elevation1 {
	box-shadow: 0 2px 2.3px rgba(0, 0, 0, 0.011), 0 3.4px 5.6px rgba(0, 0, 0, 0.016), 0 5.1px 10.7px rgba(0, 0, 0, 0.02),
		0 8.5px 19.1px rgba(0, 0, 0, 0.024), 0 18.7px 35.4px rgba(0, 0, 0, 0.029), 0 100px 80px rgba(0, 0, 0, 0.04) !important;
	border: none !important;
}
